For Loop
It is use dwhen we have to run a loop for n number of times.

In [1]:
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

While Loop
It is used when we have to run a loop till a condition is true.

In [2]:
i = 0
while i < 10:
    print(i*2)
    i +=1

0
2
4
6
8
10
12
14
16
18

Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [3]:
k = 0
for i in range(0,11):
    k = k + i
print(k)

55

In [5]:
k = 0
i = 0
while i <= 10:
    k = k + i
    i +=1
print(k)

55

Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [15]:
unit = int(input('Enter the units of electricity consumed'))
if unit <= 100:
    cost = unit*4.5
elif unit > 100 and unit <=200:
    unit = unit - 100
    cost = unit*6 + (100*4.5)
elif unit > 200 and unit <=300:
    unit = unit - 200
    cost = unit*10 + (100*4.5) + (100*6)
else:
    unit = unit - 300
    cost = unit*20 + (100*4.5) + (100*6) + (100*10)
print(cost)

Enter the units of electricity consumed 310

2250.0

Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [31]:
l = list(range(1,101))
l1 = []
for i in l:
    l1.append(i**3)
    
l4 = []
l5 = []
for j in l1:
    if j%4 == 0:
        l4.append(j)
    elif j%5 == 0:
        l5.append(j)
        
final_list = (l4+l5)
final_list.sort()
print(final_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [28]:
l = ['a','e','i','o','u']
string = "I want to become a data scientist"
s_list = string.split()
list(filter(lambda x :    ,string)

In [36]:
l = ['a','e','i','o','u']
string = "I want to become a data scientist"
count = 0
for i in string:
    if i in l:
        count +=1
print(count)

11