In [4]:
marks = int(input('ENTER YOUR PERCENTAGE HERE'))
if marks > 90:
    print('Garde A')
elif marks <= 90  and marks > 80:
    print('Garde B')
elif marks <= 80 and marks > 60:
    print('Garde C')
else:
    print('Garde D')

ENTER YOUR PERCENTAGE HERE 99

Garde A

In [8]:
cost = int(input('ENTER YOUR COST PRICE HERE'))
if cost > 100000:
    tax = cost*0.15
    print('Total tax ammount is: '+str(tax))
elif cost <= 100000  and cost > 50000:
    tax = cost*0.1
    print('Total tax ammount is: '+str(tax))
else:
    tax = cost*0.05
    print('Total tax ammount is: '+str(tax))

ENTER YOUR COST PRICE HERE 150000

Total tax ammount is: 22500.0

In [11]:
name = input('Enter the name of the city')
if name.lower() == 'delhi':
    print('Red Fort')
elif name.lower() == 'agra':
    print('Taj Mahal')
elif name.lower() == 'jaipur':
    print('Jal Mahal')

Enter the name of the city agra

Taj Mahal

In [17]:
n = int(input('ENTER YOUR NUMBER HERE'))
k = 0
while n >= 10:
    n = n/3
    k += 1
print(k)

ENTER YOUR NUMBER HERE 500

4

While loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

In [18]:
i = 0
k = 0
while i < 20:
    print(i*k)
    i = i+1
    k = k+3

0
3
12
27
48
75
108
147
192
243
300
363
432
507
588
675
768
867
972
1083

In [19]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
i=1
while i<=5:
    j=1
    while j<=i:
        print('*',end=" ")
        j=j+1
    print("")
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [25]:
n=5;i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

In [32]:
a = list(range(1,11))
l = []
while i < 10:
    l.append(a[-i))
print(l)

TypeError: 'list' object is not callable

In [31]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a